$bluebackground: rgb(20, 0, 116);
$buttonorange: rgb(233, 152, 1);
$buttongreen: rgb(1, 233, 40);
$buttonpurple: rgb(75, 0, 213);
$buttonblue: rgb(0, 122, 221);
$textorange: rgb(255, 192, 74);
$textwhite: rgb(255, 255, 255);
$textblack: rgb(0, 0, 0);

$titlefontM: 70px;
$titlefontS: 40px;

$questionfontL: 50px;
$questionfontM: 30px;
$questionfontS: 20px;
$questionfontXS: 15px;