.text_wrapper {
  margin-top: -1.8rem;
  margin-left: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

.title {
  padding: 1rem 0rem;
  margin: 1rem 9rem;
  color: rgb(20, 20, 20);
  
  h1{
    color: rgb(255, 255, 255);
  }
}

.info {
overflow: hidden;
margin-top: 2rem;
border-radius: 0.2rem;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
transition: transform 200ms ease-in;
}

.stats {
  margin-right: 2rem;
}

.inline {
  display: flex;
}

.description {
  margin-top: 0.5rem;
  max-width: 35rem;
}

.description p {
  font-size: 18px;
  color:rgb(235, 235, 235)
}

.description_title {
  margin-top: 1rem;
  max-width: 35rem;
  color:rgb(235, 235, 235)
}

.description_title p {
  font-size: 20px;
  font-weight: 600;
}

.info_image {
height: 18rem;
object-fit: cover;
width: 100%;
max-width: 34rem;
border: 2px solid rgba(243, 243, 243, 0.2);
}

.info_title {
margin-left: 1rem;
font-size: 30px;
color:rgb(235, 235, 235)
}

.info_description {
color:rgb(235, 235, 235);

  td {
    padding-right: 3rem;
  }

  th {
    padding-right: 3rem;
  }
}

.info_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin: 0.5rem
  }
}

.country-flag {
  width: 4rem;
}

@media screen and (max-width: 700px) {
  .title {
      margin-right: 0.3rem;
      margin-top: 3rem;
      margin-left: 0rem;
      padding: 0.5rem 1rem;
      color: rgb(20, 20, 20);
  }

  .info {
    margin-left: 0.3rem;
    padding: 0.5rem 0rem;
    border-radius: 0.2rem;
    display: inline-block;
    transition: transform 200ms ease-in;
}

  h1 {
      font-size: 50px;
  }

  .info_image {
    height: 18rem;
    object-fit: cover;
    width: 100%;
    max-width: 18rem;
    }

  .info_button_wrapper {
    display: block;
  }
  
  .country-flag {
    width: 4rem;
    margin-left: 0rem;
    margin-top: 1rem;
    align-self: flex-start;
  }

  .info_title {
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 30px;
    color:rgb(235, 235, 235)
    }

  .description {
    margin-left: 0rem;
    margin-top: 0.5rem;
    max-width: 35rem;
  }
  
  .description_title {
    margin-left: 0rem;
    margin-top: 1rem;
    max-width: 35rem;
    color:rgb(235, 235, 235)
  }

  .info_button_green {
    margin-top: 1rem;
    }
}