* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Helvetica;
}

html {
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.start {
  vertical-align: left;
  display: inline-block;
  width: 100vw;
  max-width: 100%;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #02030f;
  overflow: auto;
}

html {
  background: #02030f;
  background-size: cover;
}

.gradient__bg {
  background: #140074;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_padding {
  padding: 4rem 6rem;
}

.section_margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.button, .button_submit, .button_info, .button_load, .button_gmaps, .button_trails {
  font-family: inherit;
  font-weight: bold;
  width: 14rem;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 2px solid #e99801;
  background: transparent;
  color: #e99801;
  border-radius: 0.2rem;
  -webkit-transition: background 200ms ease-in, color 200ms ease-in;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.button:hover, .button_submit:hover, .button_info:hover, .button_load:hover, .button_gmaps:hover, .button_trails:hover {
  background: #e99801;
  color: white;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.button_submit {
  border: 2px solid #01e928;
  color: #01e928;
}

.button_submit:hover {
  background: none;
  color: #01e928;
  -webkit-transform: none;
          transform: none;
  cursor: default;
}

.button_info, .button_load, .button_gmaps, .button_trails {
  border: 2px solid #4b00d5;
  color: #4b00d5;
  width: 12rem;
  height: 3rem;
}

.button_info:hover, .button_load:hover, .button_gmaps:hover, .button_trails:hover {
  background: #4b00d5;
}

.button_load {
  border: 2px solid #e99801;
  color: #e99801;
}

.button_load:hover {
  background: #e99801;
}

.button_gmaps {
  border: 2px solid #007add;
  color: #007add;
}

.button_gmaps:hover {
  background: #007add;
}

.button_trails {
  border: 2px solid #01e928;
  color: #01e928;
}

.button_trails:hover {
  background: #01e928;
}

.title-white {
  color: white;
  font-size: 70px;
}

.title-orange {
  color: #ffc04a;
  font-size: 70px;
}

.title-black {
  color: black;
  font-size: 70px;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section_padding {
    padding: 4rem;
  }
  .section_margin {
    margin: 4rem;
  }
  .title-white {
    font-size: 40px;
  }
  .title-orange {
    font-size: 40px;
  }
  .title-black {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 4rem 2rem;
  }
  .section_margin {
    margin: 4rem 2rem;
  }
}
/*# sourceMappingURL=App.css.map */