.result {
    margin-right: 2rem;
    padding: 2rem 9rem;
    float: left;
    width: 100vw;
    max-width:100%;

    background: rgb(255, 255, 255);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
  }

.title-white {
    color: rgb(255, 255, 255);
}

.title-black {
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 50px;
}

.h2 {
    font-size: 36px;
}

.button_wrapper {
    display: flex;
    justify-content: center;
}

.load_more_button {
    font-family: inherit;
    font-weight: bold;
    width: 12rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    border: 2px solid rgb(233, 152, 1);
    background: transparent;
    color: rgb(233, 152, 1);
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
    }
    
    .load_more_button:hover {
    background: rgb(233, 152, 1);
    color: white;
    cursor: pointer;
    }

@media screen and (max-width: 700px) {
    .result {
        margin-right: 0.3rem;
        margin-top: 3rem;
        padding: 0.5rem 3rem;
    }
}