
.wrapper {
  justify-content: center;
}

.text_wrapper {
    margin-top: -1.8rem;
    margin-left: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  background-color: rgb(255, 255, 255);

  &:hover {
    transform: scale(1.02);
    }
}

.card_image {
height: 12rem;
width: 100%;
object-fit: cover;
}

.card_title {
padding: 1rem;
}

.card_description {
padding: 0 1rem;
}

.card_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}