.main {
    margin-right: 2rem;
    margin-top: 14rem;
    padding: 10rem 9rem;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-weight: 600;
    font-size: 23px;

}

.number {
    color:rgb(232, 255, 28);
}

.main-text {
    display: flex;
    flex-direction: row;
}

button {
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 27px;
    width: 15rem;
    height: 4rem;
    line-height: 25px;

    background: rgb(255, 182, 46);
    border-radius: 2px;
    border: 0;
    outline: none;
}

button:hover {
    background: rgb(204, 146, 38);
    cursor: pointer;
}