.intro {
    margin-right: 2rem;
    margin-top: 8rem;
    padding-left: 9rem;
    float: left;
}

.title-white-intro {
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.title-orange {
    color: rgb(255, 192, 74);
}

@media screen and (max-width: 700px) {
    .intro {
        margin-top: 2rem;
        padding: 0.5rem 3rem;
        float: left;
    }
    
    .title-white-intro {
        color: rgb(255, 255, 255);
        font-size: 40px;
    }
  }
  