.side-bar {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    float: none;
    height: 100%;
    width: 400px;
    padding: 10px 50px;
}
a:visited, a:link, a:active {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}