.question {
    margin-right: 2rem;
    margin-top: 4rem;
    padding: 1.5rem 9rem;
}

.submit {
    padding: 1.5rem 9rem;
}

.question-main {
    float: left;
    max-width: 100vw;
}

.input-basic {
    margin-top: 2rem;
    padding-bottom: 1rem;
    height: 4rem;
    width: 10rem;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(255, 182, 46);
    background: none;

    font-size: 3.5rem;
    font-family: Helvetica;
    font-weight: 600;
    color:rgb(255, 255, 255)
}

.input-checkbox {
    margin-top: 2rem;
    padding-bottom: 1rem;
    height: 2rem;
    width: 2rem;
}

.inline-checkbox {
    float: left;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;

    font-size: 2.3rem;
    font-family: Helvetica;
    font-weight: 600;
    color:rgb(255, 255, 255)
  }

.title-white {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.question_text {
    width: 50rem;
}

@media screen and (max-width: 700px) {

    .question {
        margin-right: 0.3rem;
        margin-top: 3rem;
        padding: 0.5rem 3rem;
    }

    .question label {
        font-size: 20px;
    }

    .question_text {
        width: 100%;
    }

    .submit {
        padding: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .input-basic {
        margin-top: 2rem;
        padding-bottom: 1rem;
        height: 4rem;
        width: 10rem;
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(255, 182, 46);
        background: none;
    
        font-size: 2.5rem;
        font-family: Helvetica;
        font-weight: 600;
        color:rgb(255, 255, 255)
    }

    .title-white {
        font-size: 20px;
    }
}